# Visual Studio local files
/.vs/

# Native build output
/native/out/

# Godot generated cache
.godot/

# Example / local show files
*.mvr
*.pvz

# Local runtime binaries and debug files
/bin/*.dll
/bin/*.ilk
/bin/*.pdb
/bin/~*.TMP
!/bin/.gitkeep
*.pdb

# Godot local editor metadata
/godot/editor/project_metadata.cfg
/native/build
